@page
@using BetterDocs.Services
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer;
@model EditDocumentModel
@{
    ViewData["Title"] = Localizer["Edit document"];
}
<div class="desk">
    <div class="btn-group">
        <button id="saveDocument" class="btn-primary">@Localizer["Save"]</button>
    </div>
    <div class="btn-group">
        <button id="addContributor" class="btn-secondary">@Localizer["Add contributor"]</button>
        <button id="manageContributors" class="btn-secondary">@Localizer["Manage contributors"]</button>
    </div>
        <hr/>

    @* Manage contributors modal*@
    <div class="modal fade" tabindex="-1" id="showContributorsModal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <tbody>
                        @foreach (var contributor in Model.Contributors)
                        {
                            <tr>
                                <td>
                                    @contributor.Email
                                </td>
                                <td>
                                    @contributor.UserName
                                </td>
                                <td>
                                    <form method="post">
                                        <input type="hidden" name="email" value="@contributor.Email"/>
                                        <input type="hidden" name="documentId" value="@Model.DocumentId"/>
                                        <div class="btn-group">
                                            <input type="submit" class="btn-primary" value="@Localizer["Delete"]" asp-page-handler="RemoveContributor"/>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @* Add contributor modal *@
    <div class="modal fade" tabindex="-1" id="addContributorModal" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <input class="form-control" name="email" type="email" placeholder="User email" id="email"/>
                        <input type="hidden" name="documentId" value="@Model.DocumentId"/>
                        <div class="btn-group">
                            <input type="submit" class="btn btn-primary" value="@Localizer["Add"]" asp-page-handler="AddContributor"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <textarea class="page" id="documentContent"></textarea>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/edit-document.js"></script>